# Datasets

In [ ]:
import requests
import pandas as pd
url = "https://api.finmindtrade.com/api/v4/data?"
parameter = {
    "dataset": "TaiwanStockNews",
    "data_id":"TAIEX",
    "start_date": "2020-01-01",
    "end_date": "2023-04-30",
    "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMy0wNC0yMyAxNjo0NTo1MiIsInVzZXJfaWQiOiIxMTE0MjMwMDEiLCJpcCI6IjIxOC4xNzIuODguNjMifQ.9duYi-TR9_3ubjaTniefj49k9J5t-ZmIBAt3AMyd_QA", # 參考登入，獲取金鑰
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
print(data.head())

                  date stock_id  \
0  2021-05-16 07:00:00    TAIEX
1  2021-05-17 07:00:00    TAIEX
2  2021-12-15 03:37:56    TAIEX
3  2021-12-15 03:37:56    TAIEX
4  2021-12-26 08:00:00    TAIEX

                                                link        source  \
0  https://tw.stock.yahoo.com/news/%E4%B8%8A%E9%8...     Yahoo奇摩股市
1  https://tw.stock.yahoo.com/news/%E4%B8%8A%E9%8...     Yahoo奇摩股市
2  https://news.google.com/__i/rss/rd/articles/CB...  StockFeel 股感
3  https://news.google.com/rss/articles/CBMi3QFod...  StockFeel 股感
4  https://tw.news.yahoo.com/%E8%82%A1%E5%B8%82%E...     Yahoo奇摩新聞

                                              title
0  上週加權指數跌幅8.43%，產業別以電器電纜類指數下跌20.87%為最大 - Yahoo奇摩股市
1  上週加權指數跌幅8.43%，產業別以電器電纜類指數下跌20.87%為最大 - Yahoo奇摩股市
2     台灣加權指數是什麼？怎麼算？台積電漲跌一塊影響加權指數多少？ - StockFeel 股感
3     台股加權指數是什麼？怎麼算？台積電漲跌一塊影響加權指數多少？ - StockFeel 股感
4      股市攻略》預期萬八可輕鬆過關 台股主角換人加權指數有機會挑戰萬九 - Yahoo奇摩新聞

In [ ]:
data.head(10)

,date,stock_id,link,source,title
0,2023-04-01 01:53:27,2330,https://news.google.com/rss/articles/CBMikwJod...,MSN,台積電新設海外營運辦公室，由秦永沛與張曉強等人領導 - MSN
1,2023-04-01 06:37:04,2330,https://news.google.com/rss/articles/CBMiJWh0d...,CTWANT,美晶片法補助條件嚴苛台積電「難接受」 經長：持續與美溝通 | 財經 | CTWANT - C...
2,2023-04-01 06:48:41,2330,https://news.google.com/rss/articles/CBMihAJod...,Yahoo奇摩新聞,美晶片法補助條件嚴苛台積電「難接受」 經長：持續與美溝通 - Yahoo奇摩新聞
3,2023-04-01 06:52:39,2330,https://news.google.com/rss/articles/CBMiigJod...,Yahoo奇摩股市,美晶片法補助條件嚴苛台積電「難接受」 經長：持續與美溝通 - Yahoo奇摩股市
4,2023-04-01 06:52:39,2330,https://news.google.com/rss/articles/CBMihAJod...,Yahoo奇摩新聞,美晶片法補助條件嚴苛台積電「難接受」 經長：持續與美溝通 - Yahoo奇摩新聞
5,2023-04-01 07:00:00,2330,https://news.google.com/rss/articles/CBMiMmh0d...,自由財經,台積電4/1增設海外營運辦公室 王英郎坐鎮美國 廖永豪主掌日本 - 自由財經
6,2023-04-01 10:39:31,2330,https://news.google.com/rss/articles/CBMi5gFod...,Yahoo奇摩股市,台積電新設海外營運辦公室 掌管美國AZ、日本廠 - Yahoo奇摩股市
7,2023-04-02 03:59:03,2330,https://news.google.com/rss/articles/CBMi9wFod...,Yahoo奇摩股市,法人：台股觀望氣氛濃 市場等待台積電等法說會展望 - Yahoo奇摩股市
8,2023-04-02 19:01:38,2330,https://news.google.com/rss/articles/CBMiUGh0d...,經濟日報,巴隆：半導體製造耗水 台積電美國新廠恐掀搶水大戰 - 經濟日報
9,2023-04-02 22:35:06,2330,https://news.google.com/rss/articles/CBMi8QFod...,Yahoo奇摩新聞,巴隆：半導體製造耗水 台積電美國新廠恐掀搶水大戰 - Yahoo奇摩新聞

In [ ]:
import requests
import pandas as pd
url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockPrice",
    "data_id": "TAIEX",
    "start_date": "2013-01-01",
    "end_date": "2022-12-31",
    "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMy0wNC0yMyAxNjo0NTo1MiIsInVzZXJfaWQiOiIxMTE0MjMwMDEiLCJpcCI6IjIxOC4xNzIuODguNjMifQ.9duYi-TR9_3ubjaTniefj49k9J5t-ZmIBAt3AMyd_QA", # 參考登入，獲取金鑰
}
resp = requests.get(url, params=parameter)
data = resp.json()
data = pd.DataFrame(data["data"])
print(data.head())

INFO:numexpr.utils:NumExpr defaulting to 2 threads.

         date stock_id  Trading_Volume  Trading_money     open      max  \
0  2013-01-02    TAIEX      3416421980    78986319626  7738.05  7793.48
1  2013-01-03    TAIEX      4480963886   105890539744  7826.34  7855.16
2  2013-01-04    TAIEX      4172906828   100302162153  7818.27  7818.27
3  2013-01-07    TAIEX      3868825706    88507753431  7797.05  7797.05
4  2013-01-08    TAIEX      3738832187    88317024457  7737.07  7751.80

       min    close  spread  Trading_turnover
0  7715.26  7779.22   79.72            743988
1  7815.29  7836.84   57.62            929764
2  7773.06  7805.99  -30.85            891476
3  7725.47  7755.09  -50.90            814590
4  7692.98  7721.66  -33.43            772021

In [ ]:
data

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2013-01-02,TAIEX,3416421980,78986319626,7738.05,7793.48,7715.26,7779.22,79.72,743988
1,2013-01-03,TAIEX,4480963886,105890539744,7826.34,7855.16,7815.29,7836.84,57.62,929764
2,2013-01-04,TAIEX,4172906828,100302162153,7818.27,7818.27,7773.06,7805.99,-30.85,891476
3,2013-01-07,TAIEX,3868825706,88507753431,7797.05,7797.05,7725.47,7755.09,-50.90,814590
4,2013-01-08,TAIEX,3738832187,88317024457,7737.07,7751.80,7692.98,7721.66,-33.43,772021
...,...,...,...,...,...,...,...,...,...,...
2447,2022-12-26,TAIEX,3106471398,113509673862,14271.20,14301.11,14253.20,14285.13,13.50,1090485
2448,2022-12-27,TAIEX,3659061689,126379644515,14310.19,14410.24,14310.19,14328.43,43.30,1180439
2449,2022-12-28,TAIEX,4430499324,165984570710,14249.83,14249.83,14119.30,14173.10,-155.33,1499748
2450,2022-12-29,TAIEX,4180927034,144398149842,14097.51,14120.57,13981.63,14085.02,-88.08,1358630
2451,2022-12-30,TAIEX,3496035561,137452072148,14183.52,14248.90,14137.69,14137.69,52.67,1163957

In [ ]:
data.to_csv('/content/drive/MyDrive/D.H_DS final project/Datasets/TAIEX.csv', index=False)

## Package

In [ ]:
import pandas as pd
import numpy as np
import re
import string

import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download('averaged_perceptron_tagger')

# model
from sklearn import svm
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC

from sklearn.metrics import classification_report

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

In [ ]:
import seaborn as sns
# cm = sns.light_palette("green", as_cmap=True)
cm = sns.cubehelix_palette(start=.5, rot=-.75, as_cmap=True) # ref: https://seaborn.pydata.org/generated/seaborn.light_palette.html#seaborn.light_palette

## Function

In [ ]:
def decontracting(text):
    text = re.sub(r"won\'t", "will not", text)
    text = re.sub(r"can\'t", "can not", text)
    text = re.sub(r"don\'t", "do not", text)
    text = re.sub(r"\'ll", " will", text)
    text = re.sub(r"\'s", " is", text)
    text = re.sub(r"\'d", " would", text)
    text = re.sub(r"\'re", " are", text)
    text = re.sub(r"\'ve", " have", text)
    text = re.sub(r"n\'t", " not", text)
    text = re.sub(r"\'bout", "about", text)
    text = re.sub(r"\'til", "until", text)
    return text

nltk.download('stopwords')
stopwords_list = stopwords.words('english')
def remove_stopwords(tokens):
    texts = [i for i in tokens if i not in stopwords_list]
    return texts

nltk.download('wordnet')
nltk.download('omw-1.4')
def lemmatization(tokens):
  lemmatizer = WordNetLemmatizer()
  lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
  return lemmatized_tokens


def word_preprocess(df, column_name):
  #lowercase
  df[column_name] = df[column_name].apply(lambda x: str(x).lower())

  #decontracting
  df[column_name] = df[column_name].apply(decontracting)

  #remove tags, punctuations, numbers
  df[column_name] = df[column_name].apply(lambda x: re.sub('[^a-zA-Z!]', ' ', x))

  #tokenization
  import nltk
  nltk.download('punkt')
  df[column_name] = df[column_name].apply(lambda x: nltk.word_tokenize(x))

  #remove stopwords
  df[column_name] = df[column_name].apply(remove_stopwords)

  #lemmatization(這邊選擇此方法來做詞根還原)
  # df[column_name] = df[column_name].apply(lemmatization)
  return df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...



# stock_new

In [ ]:
from google.colab import drive

drive.mount('/content/drive', force_remount=True)
docu_root = 'drive/My Drive/Colab Notebooks/datasets/DS&ML/'

Mounted at /content/drive

In [ ]:
data_path = docu_root+'TW_News.csv'
news_raw_df = pd.read_csv(data_path)
news_raw_df

       Unnamed: 0                            Title                 Date
0               0                  基本工資時薪 今起漲為109元  2013-01-01 04:47:01
1               1                       台灣主要報紙頭條要聞  2013-01-01 00:55:46
2               2                 玫瑰花車大遊行 華航第22次獲獎  2013-01-02 13:02:30
3               3                去年10月勞保擠兌潮 領走436億  2013-01-02 12:28:40
4               4            經長：國營事業績效獎金將跟經濟指標掛勾下修  2013-01-02 12:25:07
...           ...                              ...                  ...
35477       35477    財政部公布8便民新制 青安貸款再延2年、手機報稅新增2功能  2022-12-30 12:16:01
35478       35478            兔年『萬四』如意，暫時先避開『科技』類股！  2022-12-30 11:21:12
35479       35479            季線果然反彈!如何尋找2023年的強勢股?  2022-12-30 11:20:03
35480       35480  〈台股2022封關〉聯發科今年跌幅49% 市值蒸發9436億元  2022-12-30 10:55:54
35481       35481     台寶生醫心肌梗塞新藥啟動一期試驗 目標2024年完成收案  2022-12-30 10:55:02

[35482 rows x 3 columns]